* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -duration: 400ms;
  list-style: none;
}

body {
  width: 100%;
  background-color: #5465ff;
}

.sidebar {
  width: 25%;
  height: 100vh;
  position: fixed;
  animation-duration: 300ms;
  transition-duration: 300ms;
  left: -30%;
  display: flex;
  flex-direction: column;
  background-color: #beccff;
  padding: 1rem;
  padding-left: 1.5rem;
}
.sidebar button {
  width: 50%;
  align-self: center;
  height: 2.5rem;
  border-radius: 1.5rem;
  outline: none;
  border: none;
}

.sidebar button:hover {
  transition-duration: 150ms;
  transform: scale(1.05, 1.05);
}
.sidebar button:active {
  background-color: #beccff;
  border: 1px solid black;
}

.sidebar input {
  margin: 1rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 1.5rem;
  outline: none;
  font-weight: 600;
  font-size: 1.5rem;
}
.sidebar textarea {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1.5rem;
  outline: none;
  border: none;
}

.navbar {
  width: 100%;
  height: 165px;
  background-color: #5465ff;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 2px solid white;
  margin-bottom: 2em;
}

.navbar .page-title {
  width: max(30%, 6em);
  height: 60%;
  background-color: transparent;
  margin-left: 2.5%;
  border-radius: 36px;
  text-align: center;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: white;
}

.navbar .add-button {
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  font-size: 2.5em;
  padding-bottom: 50px;
  outline: none;
  background-color: #9bb1ff;
  margin-right: 2.5%;
}

.navbar .add-button:hover {
  transform: scale(1.25, 1.25);
  transition-duration: 150ms;
}
.navbar .add-button:active {
  background-color: #beccff;
}

.meal-list {
  margin: 0 auto;
  width: 80%;
  background-color: transparent;
  padding: 10px;
}

.meal-list li {
  margin-bottom: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
}

.meal-list li a {
  width: 70%;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  padding: 0;
  margin: 0.5rem;
  margin-left: 1rem;
}

@media only screen and (max-width: 768px) {
  .meal-list li a {
    width: 60%;
    color: orange;
  }
}

@media only screen and (max-width: 540px) {
  .meal-list li a {
    color: red;
    width: 50%;
  }
}

.meal-list li button {
  width: max(5rem, 12.5%);
  height: 3rem;
  margin: 0;
  margin-right: 1.5rem;
  border-radius: 100px;
  outline: none;
  border: 0;
  font-weight: 600;
  color: #5465ff;
  border: 2px solid #5465ff;
  background-color: white;
}

.accordion-answer {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  font-size: 1.35rem;
  width: 100%;
}

.meal-list li:target .accordion-answer {
  visibility: visible;
  margin: 1rem;
  max-height: 20rem;
  transition-duration: 400ms;
}

.meal-list li:target button {
  display: none;
}

.accordion-link button:active {
  color: white;
  background-color: #5465ff;
  transition-duration: 200ms;
}
.accordion-link button:hover {
  transform: scale(1.05, 1.05);
  transition-duration: 200ms;
}
