* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100%;
  background-color: #5465ff;
}

.navbar {
  width: 100%;
  height: 165px;
  background-color: #5465ff;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.navbar .page-title {
  width: max(20%, 150px);
  height: 60%;
  background-color: #9bb1ff;
  margin-left: 2.5%;
  border-radius: 36px;
}

.navbar .add-button {
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  font-size: 2.5em;
  padding-bottom: 50px;
  outline: none;
  background-color: #9bb1ff;
  margin-right: 2.5%;
}

.navbar .add-button:hover {
  transform: scale(1.25, 1.25);
  transition-duration: 150ms;
}
.navbar .add-button:active {
  background-color: #beccff;
}

.meal-list {
  margin: 0 auto;
  width: 80%;
  background-color: #beccff;
  padding: 10px;
}

.meal-list li {
  height: 85px;
  margin: 5px;
  background-color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  font-size: 200%;
}

.meal-list li button {
  width: 7.5%;
  height: 100%;
  outline: none;
  border: 0;
}

.meal-list li button:active {
  background-color: #5465ff;
  transition-duration: 150ms;
}
